@model HangfirePOC.Model.ActivitySchedule

<h2>New Schedule</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @section scripts{
        <script type="text/javascript">
$(function () {
    $('#RunType').change(function () {
        var value = $(this).val();
        if (value == '2') {
            $('#delaySettings').show();
        } else {
            $('#delaySettings').hide();
        }

        if (value == '3') {
            $('#recurSettings').show();
        } else {
            $('#recurSettings').hide();
        }
    });
});</script>}

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">Activity ID </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActivityID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Run </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RunType, (IEnumerable<SelectListItem>)ViewBag.NowOrDelay, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" id="delaySettings" style="display:none">
            <div class="control-label col-md-2">Delay by </div>
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.DelayValue, new { @class = "form-control", @Value = "2" })
            </div>
            <div class="col-md-9">
                minutes
            </div>
        </div>
        <div class="form-group" id="recurSettings" style="display:none">
            <div class="control-label col-md-2">Recurring Schedule </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RecurringScheduleType, (IEnumerable<SelectListItem>)ViewBag.RecurringScheduleType, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>